html,body,#app{
    height: 100%;
    overflow: hidden;
    div{
        .creditCardBody{
            display: flex;
            justify-content: center;
            background-color: rgba(232,232,232,0.3);
            height: 100%;
        }
        .creditCardForm{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 40%;
            height: 50%;
            background-color: rgba(255,255,255,1);
            border-radius: 10px;
            margin-top: 50px;

            h1{
                background: gray;
                margin-left: -65%;
                margin-bottom: 55px;
                color: white;
                border-radius: 10px;
                padding-left: 5px;
                padding-right: 5px;
            }

            .creditCardHolder{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                label{
                    margin-right: 15px;
                }

                input{
                    flex-grow: 1;
                }
            }
        }

        .stripeCard{
            width: 80%;
            padding: 10px;
            margin: 15px;
            border: 2px solid rgba(232,232,232,1);
            border-radius: 10px;
        }
    }
}

