html {
  height: 100%;
}

html body {
  height: 100%;
}

html body #app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerBody {
  height: 100%;
  background-color: #e8e8e8;
}

.containerBody .boostrapRow {
  justify-content: center;
}

.containerBody .boostrapRow .creditCardBodyForm {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.containerBody .boostrapRow .creditCardBodyForm .stripeCard {
  padding: 5px;
  border: solid 2px #d4d4d4;
  border-radius: 10px;
  margin-bottom: 10px;
}

.containerBody .boostrapRow .creditCardBodyForm .creditCardHolder {
  margin-bottom: 10px;
}

.containerBody .boostrapRow .creditCardBodyForm .creditCardHolder label {
  margin-right: 10px;
}

